{% extends "layout.html" %}
{% block content %}
	<h1>Welcome</h1>       

	<p>I am a Scientist at the Allen Institute for Brain Science currently investigating neural coding in the visual system. My postdoctoral research at Carnegie Mellon University involved the the investigation of neural computation, dynamics, motor control, and learning using brain-computer interfaces (BCIs). As a graduate student at the University of Pittsburgh, I investigated the ability of individuals with upper-limb paralysis to control an electrocorticography-based brain-computer interface.</p>

	The links at the top of the page can be used to navigate through the site:
	<ul>
		<li><a href="{{ url_for('projects')}}" class="link-primary">Projects</a>: Research, software, and methods projects.</li>
		<li><a href="{{ url_for('resume')}}" class="link-primary">Resume/CV</a>: Current version of my resume.</li>
		<li><a href="{{ url_for('publications')}}" class="link-primary">Publications</a>: Complete list of my publications.</li>
		<li><a href="{{ url_for('about')}}" class="link-primary">About</a>: About me.</li>
	</ul>

	<p>For coding examples, please check out my <a href="https://github.com/alandegenhart" class="link-primary">GitHub profile</a>.</p>

    <h2 class="pt-4">Recent updates</h2>
    {% for post in posts %}
        <article class="post pt-2">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about mb-1">
                        {{ post['created'].strftime('%Y-%m-%d') }}
                    </div>
                </div>
            </header>
            <p class="body">{{ post['body'] }}</p>
        </article>
    {% endfor %}

{% endblock %}