h1, h2, h3, h4, h5, h6 {
  color: #1f323d;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.1rem;
}

.bg-navbar {
	background-color: #21324a
}

.link-primary {
	color: #00548c;
	text-decoration: none;
}
.link-primary:hover {
	color: #466c85;
}

.social a {
	color: #798488;
	text-decoration: none;
}
.social a:hover {
	color: #a2a4a5;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
}

.post .body {
  white-space: pre-line;
}