{% extends 'admin/dashboard.html' %}
{% block title %}{{ table_data['table_title'] }}{% endblock %}
{% block button %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ url_for('admin.create_' + table_data['table_name']) }}">
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <span data-feather="calendar"></span>
                New
            </button>
        </a>
    </div>
{% endblock %}

{% block content %}
    {% if not table_data['rows'] %}
        <p>Table is empty.  Choose 'New' to add data.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        {% for key in table_data['rows'][0].keys() %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_data['rows'] %}
                        <tr>
                            {% for val in row %}
                                <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}